.rotateDiv {
    animation: rotate 16s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.noRotate {
    animation-play-state: paused;
}

.link_comment {
    position: fixed;
    left: 25%;
    bottom: 3vw;
    width: 50%;
    height: 30px;
    border: 1px solid #ff3a3a;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    background: #ff3a3a;
    color: #fff;
    line-height: 30px;
}

.lrc_item {
    padding-bottom: 8px;
}

.lrc_content {
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.6);
}

.lrc_wrapper {
    position: relative;
    height: 40vw;
    margin-top: 14px;
    overflow: hidden;
}

.song_title {
    text-align: center;
    font-size: 18px;
    line-height: 1.1;
    color: #fefefe;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song_info {
    margin-top: 25px;
    padding: 0 35px;
}

.play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 65px;
    height: 65px;
    background-image: url("~@/assets/play_btn.png");
    background-size: contain;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.default_img img {
    width: 100%;
}

.default_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: url("~@/assets/disc_default.png") no-repeat;
    background-size: contain;
}

.song_img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 212px;
    height: 212px;
    margin: -106px 0 0 -106px;
    z-index: 1;
}

.icon_center {
    width: 100%;
    height: 100%;
}

.icon_center::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: url("~@/assets/disc_plus.png") no-repeat;
    background-size: contain;
}

.wrapper {
    z-index: 1;
    position: relative;
    width: 100vw;
    padding-top: 80px;
    box-sizing: border-box;
}

.icon_rotate {
    position: relative;
    margin: 0 auto;
    height: 342px;
    width: 342px;
}

.needle {
    position: absolute;
    width: 110px;
    height: 157px;
    top: -80px;
    left: 150px;
    background: url("~@/assets/needle_plus.png") no-repeat;
    background-size: contain;
    z-index: 2;
}

.song_bg {
    background-color: #161824;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transform: scale(1.2);
    transform-origin: center;
    filter: blur(10px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    animation: bgchange 50s linear infinite;
}

@keyframes bgchange {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

.song_bg::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.active_lrc {
    color: #eb1206;
    font-weight: 600;
    font-size: 18px;
}

.player_getBack {
    position: absolute;
    top: 3vw;
    left: 3vw;
    color: #fff;
    padding-left: 13px;
    margin-bottom: 10px;
    cursor: pointer;
}

.player_getBack:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    top: 7px;
    left: 0;
}
.comment_wrap{
    margin: 10vw 0;
    padding: 0 1vw;
}
.comment_wrap p{
    margin: 3vw 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
}